<configuration>
 <appSettings>
    <add key="APP_PORT" value="3000" />
    <add key="DB_TYPE" value="mssql" />
    <add key="DB_HOST" value="localhost" />
    <add key="DB_PORT" value="1433" />
    <add key="DB_USER" value="dappro" />
    <add key="DB_PASS" value="Mango2023*" />
    <add key="DB_NAME" value="CEA_BACKEND" />
    <add key="JWT_SECRET" value="mutostudio" />
    <add key="DOCKER_PASSWORD" value="P4ssword123!" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="src/main.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NestJS" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="src/main.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>